@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen min-w-full bg-[#f0f1f7] dark:bg-gray-950;
}

::-webkit-scrollbar {
  width: 6px;
  height: 9px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-800 dark:bg-gray-300 rounded-full;

}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-gray-600;
}

::-webkit-scrollbar-track {
  @apply bg-gray-300 dark:bg-gray-950 rounded-full;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

